<h1>Sign in</h1>

<%= form_tag session_path do %>
  <div class="field form-group row">
    <%= label_tag :username, "Username", class: "col-sm-2 col-form-label" %>
    <%= text_field_tag :username, params[:username], class:"col-sm-7" %>
  </div>
  <div class="field form-group row">
    <%= label_tag :password, "Password", class: "col-sm-2 col-form-label" %>
    <%= password_field_tag :password, params[:password], class:"col-sm-7" %>
  </div>
  <div class="actions form-group row">
    <%= submit_tag "Log in", class:"btn btn-primary" %>
  </div>
<% end %>
<%= link_to "auth/github", class: "btn btn-social btn-github" do %>
  <span class="fa fa-github"></span>
  Sign in with Github
<% end %>
