<p id="notice"><%= notice %></p>

<p>
  <h2><%= @user.username %></h2>
  <%= @user.ratings.length %> ratings made with average <%= @user.average_rating %>.
  <br/>
  <% if @user.favorite_style %>
    The favorite style of beer is <%= @user.favorite_style %> and favorite brewery is <%= @user.favorite_brewery.name %>
  <% end %>
</p>

<% if not @clubs.empty? %>
<p>
  <h3>Clubs:</h3>
  <ul>
  <% @clubs.each do |club| %>
    <li><%= link_to club, club %></li>
  <% end %>
  </ul>
</p>
<% end %>

<p>
  <h3>Ratings:</h3>
  <ul>
  <% @user.ratings.each do |rating| %>
    <li>
      <%= rating %>
      <% if @user == current_user %>
        <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
  </ul>
</p>

<% if @user == current_user %>
  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Delete', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>
