
<p>
  <h2><%= @user.username %></h2>
  <% if admin? %>
    <div>
    <% if @user.active %>
      <%= button_to 'Close account', toggle_activity_user_path(@user.id), method: :post, class:"btn btn-danger" %>
    <% else %>
      <%= button_to 'Enable account', toggle_activity_user_path(@user.id), method: :post, class:"btn btn-danger" %>
    <% end %>
    </div>
  <% end %>
  <%= @user.ratings.length %> ratings made with average <%= round @user.average_rating %>.
  <br/>
  <% if @user.favorite_style %>
    The favorite style of beer is <%= @user.favorite_style %> and favorite brewery is <%= @user.favorite_brewery.name %>
  <% end %>
</p>

<% if not @clubs.empty? %>
  <p>
    <h3>Club memberships:</h3>
    <ul>
    <% @clubs.each do |club| %>
      <li><%= link_to club, club %></li>
    <% end %>
    </ul>
  </p>
<% end %>
<% if @user == current_user and not @candidate_clubs.empty? %>
  <p>
    <h3>Club membership requests:</h3>
    <ul>
    <% @candidate_clubs.each do |club| %>
      <li><%= link_to club, club %></li>
    <% end %>
    </ul>
  </p>
<% end %>

<% if not @user.ratings.empty? %>
<p>
  <h3>Ratings:</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Score</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
    <% @user.ratings.each do |rating| %>
      <tr>
        <td>
          <%= rating %>
        </td>
        <td>
          <% if @user == current_user %>
            <%= button_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</p>
<% end %>

<%= edit_and_destroy_buttons(@user) if @user == current_user %>
<%= link_to 'Back', users_path, class:"btn btn-primary" %>
