<% cache @brewery do %> 
<p>
  <h1>
    <%= @brewery.name %>
    <% if not @brewery.active  %>
      <span class="badge badge-info">retired</span>
    <% end %>
  </h1>
  <em>Established at <%= @brewery.year %></em>
</p>
<p>
  <strong>Beers in catalogue:</strong>
  <%= @brewery.beers.count %>
  <ul>
  <% @brewery.beers.each do |beer| %>
    <li><%= link_to "#{beer.name}", beer %></li>
  <% end %>
  </ul>
  <% if @brewery.ratings.empty? %>
    No rating                
  <% else %>                   
    Has <%= pluralize(@brewery.ratings.length, "rating")%>, average <%= round @brewery.average_rating %>
  <% end %>
  <br/>
</p>
<% end %>

<%= edit_and_destroy_buttons(@brewery) %>
<%= link_to "Change activity", toggle_activity_brewery_path(@brewery.id), method: :post, class: "btn btn-primary" %>
<%= link_to 'Back', breweries_path, class:"btn btn-primary" %>
