<p id="notice"><%= notice %></p>

<p>
  <h2><%= @brewery.name %></h2>
  <em>Established in <%= @brewery.year %></em>
</p>
<p>
  <strong>Beers in catalogue:</strong>
  <%= @brewery.beers.count %>
  <ul>
  <% @brewery.beers.each do |beer| %>
    <li><%= link_to "#{beer.name}", beer %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<%= link_to 'Back', breweries_path %>
