<p id="notice"><%= notice %></p>

<p>
  <h2><%= @brewery.name %></h2>
  <em>Established at <%= @brewery.year %></em>
</p>
<p>
  <strong>Beers in catalogue:</strong>
  <%= @brewery.beers.count %>
  <ul>
  <% @brewery.beers.each do |beer| %>
    <li><%= link_to "#{beer.name}", beer %></li>
  <% end %>
  </ul>
  <% if @brewery.ratings.empty? %>
    No rating                
  <% else %>                   
    Has <%= pluralize(@brewery.ratings.length, "rating")%>, average <%= @brewery.average_rating %>
  <% end %>
  <br/>
</p>

<% if current_user %>
<%= link_to 'Edit', edit_brewery_path(@brewery) %> |
<% end %>
<%= link_to 'Back', breweries_path %>
