<h1><%= @beer.name %></h1>
A <%= @beer.style %> style beer made by <%= @beer.brewery %>

<p>
  <h2>Rating</h2>
  <% if @beer.ratings.empty? %>
   No rating
  <% else %>
   <%= round @beer.average_rating %> average with <%= pluralize(@beer.ratings.length, "rating") %>
  <% end %>
</p>

<% if current_user %>
  <h4>Give a rating:</h4>

  <%= form_for(@rating) do |f| %>
    <%= f.hidden_field :beer_id %>
    score: <%= f.number_field :score %>
    <%= f.submit class:"btn btn-primary" %>
  <% end %>

<% end %>
<%= edit_and_destroy_buttons(@beer) %>
<%= link_to 'Back', beers_path, class:"btn btn-primary" %>
