<h1>Search for place</h1>

<%= form_tag places_path do %>
  <div class="field form-group row">
    <%= label_tag :city, "City", class: "col-sm-2 col-form-label" %>
    <%= text_field_tag :city, params[:city], class:"col-sm-7" %>
  </div>
  <div class="actions form-group row">
    <%= submit_tag "Search", class:"btn btn-primary" %>
  </div>
<% end %>

<% if @places %>
  <table class="table table-hover">
    <thead>
      <% Place.rendered_fields.each do |field| %>
        <th><%= field.to_s.humanize %></th>
      <% end %>
    </thead>
    <% @places.each do |place| %>
      <tr>
        <% Place.rendered_fields.each do |field| %>
          <td>
            <% if field == :name %>
              <%= link_to place.public_send(field), place_path(place.id) %>
            <% else %>
              <%= place.public_send(field) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
<% end %>